<app-menu></app-menu>
<div class="container">
    <form>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Nome</label>
            <input type="email" name="nome" [(ngModel)]='agenda.nome' class="form-control" id="inputEmail4" placeholder="nome">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">Data de Nascimento</label>
            <input type="date" name="nascimento" [(ngModel)]='agenda.nascimento'  class="form-control" id="inputPassword4" placeholder="Data de Nascimento">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-7">
          <label for="inputAddress">E-mail</label>
          <input type="email" name="email" [(ngModel)]='agenda.email' class="form-control" id="inputAddress" placeholder="E-mail">
        </div>
        <div class="form-group col-md-5">
            <label for="inputAddress">Cep</label>
            <input type="text" name="cep" [(ngModel)]='agenda.cep' class="form-control" id="inputAddress" placeholder="CEP">
          </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-9">
          <label for="inputAddress2">Rua</label>
          <input type="text" name="rua" [(ngModel)]='agenda.rua' class="form-control" id="inputAddress2" placeholder="Rua">
        </div>
        <div class="form-group col-md-3">
            <label for="inputAddress2">Numero</label>
            <input type="text" name="numero" [(ngModel)]='agenda.numero' class="form-control" id="inputAddress2" placeholder="Numero">
          </div>
          </div>
        <div class="form-row">
          <div class="form-group col-md-9">
            <label for="inputCity">Complemento</label>
            <input type="text" name="complemento" [(ngModel)]='agenda.complemento' class="form-control" placeholder="Complemento" id="inputCity">
          </div>
              <div class="form-group col-md-3">
                <label for="inputCity">Estado</label>
                <input type="text" name="estado" [(ngModel)]='agenda.estado' class="form-control" placeholder="Estado" id="inputCity">
              </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputZip">Cidade</label>
                <input type="text" name="cidade" [(ngModel)]='agenda.cidade' class="form-control" placeholder="Cidade" id="inputZip">
              </div>
            <div class="form-group col-md-4">
              <label for="inputCity">bairro</label>
              <input type="text" name="bairro"  [(ngModel)]='agenda.bairro' class="form-control" placeholder="Bairro" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity">Pais</label>
                <input type="text" name="pais" [(ngModel)]='agenda.pais' class="form-control" placeholder="" id="inputCity">
              </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="inputZip">Telefone Celular</label>
              <input type="text" name="telefone_celular" [(ngModel)]='agenda.telefone_celular' class="form-control" placeholder="Telefone Celular" id="inputZip">
            </div>
          <div class="form-group col-md-4">
            <label for="inputCity">Telefone Residencial</label>
            <input type="text" name="Telefone_residencial" [(ngModel)]='agenda.telefone_residencial' class="form-control" placeholder="Telefone Residencial" id="inputCity">
          </div>

    </div>
        <button type="submit" (click)='store()' class="btn btn-primary">{{button}}</button>
      </form>
  </div>
